# Secrets live here. To prevent committing cleartext credentials, ignore EVERYTHING
# by default and allow back only the safe-to-commit files:
#   - *.example.yaml : templates with placeholder values
#   - *.sops.yaml    : SOPS-encrypted secrets (data/stringData encrypted)
#   - .gitignore     : this file
# Anything else (e.g. plaintext working copies like license-secrets.sops.yaml) stays ignored.
*
!.gitignore
!*.example.yaml
!*.sops.yaml
